$corprimaria: #EDF2F4;
$corsecundaria: #313131;
$cordedestaque: #6278F7;

// $cordecomplemento1: #A3E5BA;
// $cordecomplemento2: #EFFBE2;

// $coremandamento1: #DCA3E5;
// $coremandamento2: #EDE2FB;

// $corcriado1: #C3C3C3;
// $corcriado2: #F2F2F2;

// $corevento1: #F6E448;
// $corevento2: #FAF4C1;




